body {
background: #f6f6f6f6;
color: #0;
display: flex;
flex-direction: column;
height: 100%;
}
.outline {
background: #ffffff;
border-radius: 15px;
border: 0px solid white;
padding: 0 0px;
}
.content {
flex: 1 0 auto;
}
.footer {
flex-shrink: 0;
}