<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>GusShop.AN</title>
    <style>
        body {
        background: #f6f6f6;
        color: #0;
        }
        .outline {
        background: #ffffff;
        border-radius: 15px;
        border: 0px solid white;
        padding: 0 0px;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-primary" style="height:80px;">
        <a class="navbar-brand" href="/"><h3>GusShop.AN</h3></a>
        {% if current_user.is_authenticated %}
        <form action="" method="get">
            <input name="s" placeholder="Искать здесь..." type="search"
                   style="width:600px; height: 50px; border: 5px solid #ffffff;
                    border-radius:30px; padding: 6px;">
            <button style="height:50px;width:100px; border-radius:10px;"
                    type="submit">Поиск
            </button>
        </form>
        {% if current_user.id not in (1, 2) %}
        <a style="color: #ffffff;" class="navbar-brand"
           href="/basket"> Корзина </a>
        {% endif %}
        <a style="background-color: #ffffff; border: 5px solid #ffffff;
                    border-radius:5px; padding: 6px;" class="navbar-brand"
           href="/logout"> {{current_user.name}}
        </a>
        {% else %}
        <p>
            <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>