{% extends "base.html" %}

{% block content %}
<h1 style="margin-top: 20px; margin-left: 500px;">Корзина</h1>
{% for item in basket %}
<div>
    {% if item.user_id == current_user.id %}
    <table style="margin-top: 60px; margin-left:-105px" border="0" width="100%"
           cellpadding="10">
        <tr>
            <th><img style="width:150px; height: 110px; margin-left:300px" src={{item.photo}}></th>
            <th><p style="margin-left:-350px;"> {{ item.title }} </p></th>
        </tr>
        <tr>
            <td>
                <div>
                    {% if current_user.is_authenticated %}
                    <a style="margin-left:300px;" href="/" class="btn btn-primary">Купить</a>
                    <a class="btn btn-danger"
                       href="/basket_delete/{{ item.id }}">Удалить</a>
                    {% endif %}
                </div>
            </td>
            <td><p style="margin-left:-300px;"> Количество товара: {{ item.count }} </p></td>
        </tr>
    </table>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
