{% extends "base.html" %}

{% block content %}
<h1 style="margin-top: 20px;">Товары в нашем интернет-магазине "GusShop.AN"</h1>
{% for item in items %}
<div>
    <table style="margin-top: 60px;" border="0" width="100%" cellpadding="0">
        <tr>
            <th><img style="width:400px; height: 300px;" src={{item.photo}}></th>
            <th><h3> {{ item.title }} </h3><br> {{ item.content }}</th>
        </tr>
        <tr>
            <td>
                <div>
                    {% if current_user.id in (1, 2) %}
                    <a href="/items/{{ item.id }}" class="btn btn-primary">Изменить</a>
                    <a class="btn btn-primary"
                       href="/items_delete/{{ item.id }}">Удалить</a>
                    {% elif current_user.is_authenticated and item.count > 0%}
                    <a href="/basket/{{ item.id }}" class="btn btn-primary">Добавить в корзину</a>
                    {% endif %}
                </div>
            </td>
            <td>Количество товара: {{ item.count }}</td>
        </tr>
    </table>
</div>
{% endfor %}
{% if current_user.id in (1, 2) %}
<a href="/items" style="margin-top: 10px; background-color: #0a4761;
     border: 1px solid #0a4761;" class="btn btn-primary">Добавить товар</a>
{% endif %}
{% endblock %}
