{% extends "base.html" %}

{% block content %}
{% for item in items %}
<div>
    {% if search in item.title.lower() %}
    <table style="margin-top: 40px;" border="0" width="100%" cellpadding="0" class="outline">
        <tr>
            <th><img style="width:220px; height: 150px; margin-top:10px;" src={{item.photo}}></th>
            <th>
                <h3 style="margin-left:20px;"><a href="/about_item/{{ item.id }}">
                    {{ item.title }} </a>
                </h3>
                <h4 style="margin-top:-40px; margin-left:775px"> {{ item.price }}</h4>
                <br>
                <h6 style="margin-left:20px">{{ item.main_characteristics }}</h6>
                {% if current_user.id not in (1, 2) and item.count > 0 and
                current_user.is_authenticated %}
                <a href="/basket/{{ item.id }}/0" class="btn btn-primary"
                   style="margin-left:680px; margin-top:-5px; width:180px; height:40px;">Добавить в корзину</a>
                {% endif %}
            </th>
        </tr>
        <tr>
            <td>
                <div>
                    {% if current_user.id in (1, 2) %}
                    <a href="/items/{{ item.id }}" class="btn btn-primary"
                       style="margin-top:15px">Изменить
                    </a>
                    <a class="btn btn-primary"
                       href="/items_delete/{{ item.id }} " style="margin-top:15px">Удалить</a>
                    {% endif %}
                </div>
            </td>
            <td><p style="margin-left:120px; margin-top:-30px;">Количество товара: {{ item.count }}
            </p></td>
        </tr>
    </table>
    {% endif %}
</div>
{% endfor %}
{% if flag == 0 %}
    <h1 align="center">
        Ничего не найдено!
    </h1>
{% endif %}
{% if current_user.id in (1, 2) %}
<a href="/items" style="margin-top: 10px; background-color: #0a4761;
     border: 1px solid #0a4761;" class="btn btn-primary">Добавить товар</a>
{% endif %}
{% endblock %}
