{% extends "base.html" %}

{% block content %}
<h1>Товары в нашем интернет-магазине "GusShop.AN"</h1>
{% for item in items %}
<div>
    <h3><b style="margin-top: 25px; margin-left: -250px;"> {{item.title}}</b></h3>
<p style="margin-left: -350px; margin-top: 25px;">
    {{item.content}}
</p>
{% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a style="margin-left:-340px;" href="/items/{{ item.id }}" class="btn btn-link">Изменить</a>
        <a href="/items_delete/{{ item.id }}" class="btn btn-link">Удалить</a>
        <a href="/items" class="btn btn-link">Добавление товара</a>
    </div>
{% endif %}
</div>
{% endfor %}
{% endblock %}