{% extends "base.html" %}

{% block content %}
<div class="col-auto">
    <div id="wrapper">
        <img src="/static/img/card.png" style="margin-left:57px;" alt="">
        <form action="" method="post">
            <input type="text" class="form-control" name="card_number"
                   style="position: absolute; top: 151px; left: 103px;
                                   height: 78px; width: 612px;"
                   placeholder="0000-0000-0000-0000">
            {% if card_error != "OK" %}
                <p class="alert alert-danger mt-1" role="alert">{{ card_error }}</p>
            {% endif %}
            <input type="text" class="form-control" name="month"
                   style="position: absolute; top: 261px; left: 254px;
                                   height: 38px; width: 151px;"
                   placeholder="month">
            {% if date_error != "OK" %}
                <p class="alert alert-danger" role="alert">{{ date_error }}</p>
            {% endif %}
            <input type="text" class="form-control" name="year"
                   style="position: absolute; top: 261px; left: 424px;
                                   height: 38px; width: 149px;"
                   placeholder="year">
            <input type="text" class="form-control" name="cvv"
                   style="position: absolute; top: 154px; left: 903px;
                                   height: 64px; width: 94px;"
                   placeholder="***">
            {% if cvv_error != "OK" %}
                <p class="alert alert-danger" role="alert">{{ cvv_error }}</p>
            {% endif %}
            <input type="text" class="form-control" name="name"
                   style="position: absolute; top: 322px; left: 255px;
                                   height: 65px; width: 460px;"
                   placeholder="Ivan Ivanov">
            {% if username_error != "OK" %}
                <p class="alert alert-danger" role="alert">{{ username_error }}</p>
            {% endif %}
            <input type="submit"
                   style="margin-left:70px; height: 40px; width: 160px;"
                   value="Оплата">
        </form>
    </div>
</div>
{% endblock %}