{% extends "base.html" %}


{% block content %}
<main class="main">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            {% if email_error != "OK" %}
                <p class="alert alert-danger" role="alert">{{ email_error }}</p>
            {% endif %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% if password_error != "OK" %}
                <div class="alert alert-danger" role="alert">{{ password_error }}</div>
            {% endif %}
        </p>

        <p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% if again_password_error != "OK" %}
                <p class="alert alert-danger" role="alert">{{ again_password_error }}</p>
            {% endif %}
        </p>



        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
    </form>
</main>
{% endblock %}