{% extends "base.html" %}

{% block content %}
<div>
    <h3 style="margin-top:20px;"> {{ item.title }} <br></h3>
    <table style="margin-top: 20px;" border="0" width="100%" cellpadding="0">
        <tr class="outline">
            <th><img style="width:420px; height: 320px;" src={{item.photo}}></th>
            <th>
                <h1 style="margin-top:10px;"> {{ item.price }} </h1>
                <h6 style="margin-top:50px;"> {{ item.main_characteristics }} </h6>
                {% if current_user.id not in (1, 2) %}
                {% if item.count > 0 and current_user.is_authenticated %}
                <a style="margin-top:40px;" href="/basket/{{ item.id }}/1"
                   class="btn btn-primary">Добавить в корзину</a> <br>
                {% endif %}
                {% endif %}
                <h6 style="margin-left:480px; margin-top: 115px;"> Количество товара:
                    {{ item.count }}
                </h6>
            </th>
        </tr>
    </table>
    <table style="margin-top: 20px;" border="0" width="100%" cellpadding="0">
        <tr class="outline">
            <th>
                <h2 align="center" style="margin-top:10px;"> Описание товара: </h2> <br>
                <h6 style="margin-left:15px;"> {{ item.content }} </h6>
                <h2 align="center">Характеристики: </h2> <br>
                <h4 style="margin-left:15px;"><b> Экран: </b></h4>
                {% for dspl in item.display.split('\n') %}
                    <h6 style="margin-left:15px;"> {{ dspl }} </h6>
                {% endfor %}
                <h4 style="margin-left:15px;"><b> Процессор: </b></h4>
                {% for process in item.processor.split('\n') %}
                    <h6 style="margin-left:15px;"> {{ process }} </h6>
                {% endfor %}
                <h4 style="margin-left:15px;"><b> Видеокарта: </b></h4>
                {% for video in item.videoadapter.split('\n') %}
                    <h6 style="margin-left:15px;"> {{ video }} </h6>
                {% endfor %}
                <h4 style="margin-left:15px;"><b> ОЗУ: </b></h4>
                {% for ram in item.ram.split('\n') %}
                    <h6 style="margin-left:15px;"> {{ ram }} </h6>
                {% endfor %}
                <h4 style="margin-left:15px;"><b> Батарея: </b></h4>
                {% for battery in item.battery.split('\n') %}
                    <h6 style="margin-left:15px;"> {{ battery }} </h6>
                {% endfor %} <br>
            </th>
        </tr>
    </table>
</div>
{% endblock %}